@import 'normalize.css';
@import 'fa-css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');

/* blocks */

@import 'taskbar.css';
@import 'task.css';

/* general */

* {
  --yell: #FFFA6E;
  --whitish: #F4F4F6;
  --black: #2B2B2B;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--black);
}

::selection {
  color: var(--whitish);
  background: var(--yell);
}

h1, h2, h3 {
  font-family: 'Bitter', serif;
}

/* components */

button {
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 970px;
}

.col {
  margin: 10px 20px;
}

.eight {
  flex: 8 0 auto;
}

.four {
  flex: 4 0 auto;
}

.row {
  display: flex;
}

input:focus {
  outline: 0;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .row {
    flex-direction: column;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .row {
    flex-direction: row;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
